<ion-view view-title="Topup E-Wallet" class="grey_bg">
  	<ion-content padding="10">
      <ion-refresher
         	pulling-text="Pull to refresh..."
         	on-refresh="doRefresh()">
       	</ion-refresher>

      <div class="list">
        <div class="item item-divider">
          <strong>Topup E-Wallet</strong>
        </div>
        <div class="item item-text-wrap">
          Saldo Anda Saat Ini
          <span class="item-note">
            <strong>{{info.saldo}}</strong>
          </span>
        </div>
        <label class="item item-input item-select">
          <span class="input-label">Jumlah Topup</span>
          <select ng-model="datatopup.jml" ng-change="topupchange();">
            <option value="{{optiontopup.value}}">{{optiontopup.nominal}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Pilih Pembayaran
          </div>
          <select ng-model="datatopup.by" ng-disabled="topupselect" ng-change="topupby();">
            <option value="bank_transfer">Bank Transfer</option>
            <option value="mandiri_clickpay">Mandiri Clickpay</option>
            <option value="echannel">Mandiri Bill Payment</option>
            <option value="bbm_money">BBM Money</option>
          </select>
        </label>
        <button ng-click="doTopup();" class="button button-block button-royal" ng-disabled="topupbtn">
         	{{topuptxt}}
        </button>
      </div>

      <div class="list">
        <div class="item item-divider">
          <strong>History Topup</strong>
        </div>
        <div class="item item-button-right" ng-repeat="data in data track by $index">
          {{data.jumlah}}
          <button class="button button-positive" ng-click="openModal($index)">
            <i class="icon ion-information"></i>
          </button>
        </div>
      </div>

      <ion-infinite-scroll
       	ng-if="postsCompleted == false"
       	on-infinite="getData()"
       	distance="10%">
     	</ion-infinite-scroll>

      <script id="templates/topup.html" type = "text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-royal">
          <h1 class="title">Detil History Topup</h1>
          <button class="button button-clear button-primary" ng-click="closeModal()">Kembali</button>
        </ion-header-bar>
        <ion-content padding="10">
          <div class="list">
            <div class="item">
              Tanggal Penarikan
              <span class="item-note">
                {{detail.createdAt}}
              </span>
            </div>
            <div class="item">
              Tanggal Proses
              <span class="item-note">
                {{detail.processedAt}}
              </span>
            </div>
            <div class="item" ng-switch="detail.status">
              Status
              <span class="item-note" ng-switch-when="B">
                Batal
              </span>
              <span class="item-note" ng-switch-when="R">
                <a class="" onclick="window.open(this.href, '_system', 'location=yes'); return false;" href="{{detail.link}}">Lakukan Pembayaran</a>
              </span>
              <span class="item-note" ng-switch-when="T">
                Transfer Sukses
              </span>
              <span class="item-note" ng-switch-when="P">
                <a class="" onclick="window.open(this.href, '_system', 'location=yes'); return false;" href="{{detail.link}}">Lakukan Pembayaran</a>
              </span>
            </div>
            <div class="item">
              Jumlah
              <span class="item-note">
                {{detail.jumlah}}
              </span>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
      </script>

  </ion-content>
</ion-view>
