<ion-view view-title="E-Wallet" class="grey_bg">
  	<ion-content padding="10">

      <div class="list card">
        <a href="#/app/ewallet/info" class="item item-icon-left">
          <i class="icon ion-information-circled"></i>
          Informasi
        </a>

        <a href="#/app/ewallet/withdraw" class="item item-icon-left">
          <i class="icon ion-cash"></i>
          Withdraw
        </a>

        <a href="#/app/ewallet/transfer" class="item item-icon-left">
          <i class="icon ion-paper-airplane"></i>
          Transfer
        </a>

        <a href="#/app/ewallet/topup" class="item item-icon-left">
          <i class="icon ion-arrow-graph-up-right"></i>
          Topup
        </a>
      </div>

  </ion-content>
</ion-view>
