<ion-view class="has-subheader" view-title="Member">
    <div class="bar bar-subheader" style="text-align:right;">
      <select ng-model="typeorder" ng-change="doSort()">
        <option value="baru">Baru</option>
        <option value="lama">Lama</option>
      </select>
      
    </div>
   <ion-content class="post-content has-subheader">
   	<ion-refresher
       	pulling-text="Pull to refresh..."
       	on-refresh="doRefresh()">
     	</ion-refresher>
      <div class="list card">
          <a href="#/app/user/{{item.objectId}}" class="item item-avatar" ng-repeat="item in items">
            <img ng-src="{{item.avatar}}"></img>
            <h2>{{item.name}}</h2>
            <h2>@{{item.objectId}}</h2>
          </a>
      </div>
      <ion-infinite-scroll
       	ng-if="postsCompleted == false"
       	on-infinite="getPosts('{{typeorder}}')"
       	distance="10%">
     	</ion-infinite-scroll>
   </ion-content>
</ion-view>