<ion-view view-title="Pembelian/Pembayaran" class="grey_bg">
  	<ion-content padding="10">

      <div class="list card {{profil.ew_ppob}}">
        <div class="item item-divider">
          <strong>PPOB</strong>
        </div>
        <ion-item menu-close-keep-history href="#/app/payment/pln" class="item item-icon-left">
          <i class="icon ion-flash"></i>
          Tagihan PLN
        </ion-item>

        <ion-item menu-close-keep-history href="#/app/payment/telepon" class="item item-icon-left">
          <i class="icon ion-ios-telephone"></i>
          Tagihan Telepon
        </ion-item>

        <ion-item menu-close-keep-history href="#/app/payment/pdam" class="item item-icon-left">
          <i class="icon ion-waterdrop"></i>
          Tagihan PDAM
        </ion-item>

        <ion-item menu-close-keep-history href="#/app/payment/speedy" class="item item-icon-left">
          <i class="icon ion-planet"></i>
          Tagihan Speedy
        </ion-item>
      </div>

      <div class="list card {{profil.ew_pulsa}}">
        <div class="item item-divider">
          <strong>PULSA</strong>
        </div>
        <ion-item menu-close-keep-history href="#/app/payment/pulsa_prabayar" class="item item-icon-left">
          <i class="icon ion-android-phone-portrait"></i>
          Pulsa
        </ion-item>

        <!--<a href="#/app/payment/pulsa_pascabayar" class="item item-icon-left">
          <i class="icon ion-ios-telephone"></i>
          Pulsa Pascabayar
        </a>-->

      </div>

      <div class="list card {{profil.ew_tiket}}">
        <div class="item item-divider">
          <strong>TIKET & RESERVASI</strong>
        </div>
        <ion-item menu-close-keep-history href="#/app/payment/tiket_pesawat" class="item item-icon-left">
          <i class="icon ion-plane"></i>
          Tiket Pesawat
        </ion-item>
        <ion-item menu-close-keep-history href="#/app/payment/tiket_kereta" class="item item-icon-left">
          <i class="icon ion-android-train"></i>
          Tiket Kereta Api
        </ion-item>
        <ion-item menu-close-keep-history href="#/app/payment/tiket_event" class="item item-icon-left">
          <i class="icon ion-pricetags"></i>
          Tiket Event
        </ion-item>
        <ion-item menu-close-keep-history href="#/app/payment/reservasi_hotel" class="item item-icon-left">
          <i class="icon ion-home"></i>
          Reservasi Hotel
        </ion-item>
      </div>

  </ion-content>
</ion-view>
w>
