<ion-view view-title="Pulsa Pascabayar" class="grey_bg">
  	<ion-content padding="10">

      <div class="list card">
        <div class="item item-divider">
          <strong>Pembelian Pulsa Pascabayar</strong>
        </div>
        <div class="item item-text-wrap">
          <label class="item item-input">
            <span class="input-label">Nomor HP</span>
            <input type="text">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Operator
            </div>
            <select>
              <option>AXIS 5rb</option>
              <option selected>Telkomsel 20rb</option>
              <option>Indosat 10rb</option>
            </select>
          </label>
          <button ng-click="" class="button button-block button-royal">
           	Periksa
          </button>
        </div>
      </div>

  </ion-content>
</ion-view>
