<ion-view view-title="Tagihan Telepon" class="grey_bg">
  	<ion-content padding="10">

      <div class="list card">
        <div class="item item-divider">
          <strong>Pembayaran Tagihan Telepon</strong>
        </div>
        <div class="item item-text-wrap">
          <label class="item item-input">
            <span class="input-label">Kode Area</span>
            <input type="text" placeholder="Contoh : 021" ng-model="data.idpel">
          </label>
          <label class="item item-input">
            <span class="input-label">Nomor Telepon</span>
            <input type="text" placeholder="1234567" ng-model="data.idpel2">
          </label>
          <label class="item item-input">
            <span class="input-label">Nama Pelanggan</span>
            <input type="text" ng-model="data.namapel" disabled>
          </label>
          <label class="item item-input">
            <span class="input-label">Nominal Tagihan</span>
            <input type="text" ng-model="data.nominal" disabled>
          </label>
          <label class="item item-input">
            <span class="input-label">Biaya Admin</span>
            <input type="text" ng-model="data.biayaadmin" disabled>
          </label>
          <label class="item item-input">
            <span class="input-label">Periode</span>
            <input type="text" ng-model="data.periode" disabled>
          </label>
          <label class="item item-input">
            <span class="input-label">Keterangan</span>
            <input type="text" ng-model="data.keterangan" disabled>
          </label>
          <button ng-click="doInquiry();" ng-disabled="disableInquiry" class="button button-block button-positive">
            {{buttonCheck}}
          </button>
          <button ng-click="doPayment();" ng-disabled="disablePayment" class="button button-block button-royal">
            {{buttonPay}}
          </button>
        </div>
      </div>

  </ion-content>
</ion-view>
